/* ---------------------------------------------- */
/* Icon Font                                      */
/* ---------------------------------------------- */

@font-face {
  font-family: 'iconfont';
  src:  url('../../assets/fonts/iconfont.eot?rb6pli');
  src:  url('../../assets/fonts/iconfont.eot?rb6pli#iefix') format('embedded-opentype'),
    url('../../assets/fonts/iconfont.ttf?rb6pli') format('truetype'),
    url('../../assets/fonts/iconfont.woff?rb6pli') format('woff'),
    url('../../assets/fonts/iconfont.svg?rb6pli#iconfont') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-baby:before {
  content: "\e903";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-beauty:before {
  content: "\e904";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-book:before {
  content: "\e905";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-car:before {
  content: "\e906";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-clothes:before {
  content: "\e907";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-foods:before {
  content: "\e908";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-houseware:before {
  content: "\e909";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-interior:before {
  content: "\e90a";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-kitchenware:before {
  content: "\e90b";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-pet:before {
  content: "\e90c";
  margin-right: 6px;
  position: relative;
  top:0.5px;
  font-size: 18px
}
.icon-sports:before {
  content: "\e90d";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-stationery:before {
  content: "\e90e";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-theme:before {
  content: "\e90f";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-toy:before {
  content: "\e910";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-travel:before {
  content: "\e911";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-appliances:before {
  content: "\e900";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-home:before {
  content: "\e901";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
.icon-home2:before {
  content: "\e902";
  margin-right: 6px;
  position: relative;
  top:1px;
  font-size: 18px
}
