/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */

.header{
  display: flex;
  justify-content: center;
  border-bottom: solid 1px var(--color-gray-100);
}
.header__inner {
  height: 116px;
  width: 1020px;
}
.button--category {
  background-color: var(--color-blue-600);
  color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 118px;
  height: 100%;
  padding: 17px 0px;
  font-weight: 400;
  font-size: 12px;
}
.button--category:focus-visible {
  outline-style: none;
  box-shadow: 0px 0px 3px 2px var(--color-red-500);
  border-radius: 5px;
}


/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */

.navigation {
  display: none;

}
.navigation.is--active {
  position: relative;
  display: flex;
  justify-content: center;
}
.navigation__inner {
  width: 1020px;
  position: absolute;
}

.navigation__list {
  position: absolute;
  padding: 0px 0px 12px 2px;  
  width: 180px;
  box-shadow: 0px 4px 3px 0px var(--color-opacity-20);
  background-color: var(--color-white);
}

.navigation__list li:not(.depth3 li):hover {
  font-weight: 700;
  color: var(--color-blue-600);
  background-image: url(../../assets/icon/more-right-active.svg);
  background-repeat: no-repeat;
  background-position: 90% 90%;
}

.depth2 li {
  color: initial;
}



.navigation__list li {
  padding: 16px 0px 0px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;

}
.navigation__list a {
  width: 100%;
  height: 100%;
}

.depth2 {
  display: none;
}
.depth2.is--active {
  display: block;
  position: absolute;
  top: 0px;
  left: 180px;
  background-color: var(--color-white);
  width: 180px;
  height: 100%;  
  padding: 0px 0px 12px 5px;  
  box-shadow: 0px 4px 3px 0px var(--color-opacity-20);
}

.depth3 {
  display: none;
}
.depth3 li a:hover {
  color: var(--color-blue-600);
  background-image: initial;
}
.depth3.is--active {
  display: block;
  position: absolute;
  top: 0px;
  left: 180px;
  background-color: var(--color-white);
  width: 180px;
  height: 100%;
  padding: 0px 0px 12px 5px;  
  box-shadow: 0px 4px 3px 0px var(--color-opacity-20);
}


/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */

.main{
  min-height: 55.8rem;
}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */

.customer-guide {
  background-color: var(--color-gray-200);
  display: flex;
  justify-content: center;
}
.customer-guide-list{
  display: flex;
  margin: 13px 0px;
}
.customer-guide-list li {
  flex-shrink: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;

  color: var(--color-gray-800);
}
.divider {
  margin: 0px 12px;
}

.coupang-information {
  display: flex;
  justify-content: center;
}
.coupang-information>div {
  display: flex;
  margin: 32px 0px;
  overflow: hidden;
}
.logo, .coupang-information-list, .customer-center, .payment-guarantee {
  margin: 0px 31px;
  flex-shrink: 0;
}
.logo {
  width: 176px;
  height: 40px;
  transform: translatey(2px);
  background-image: url(../../assets/logo/logo-mono.svg);
}
.coupang-information-list p {
  font-weight: 400;
  font-size: 16px; 
  margin-bottom: 10px;
  color: var(--color-gray-800);
}
.customer-center {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray-800);
}
.customer-center span:first-of-type {
  font-weight: 700;
  display: inline-block;
  padding-right: 8px;
  border-right: solid 1px var(--color-gray-800);
}
.customer-center a {
  display: inline-block;
  margin: 8px 0px;
}
.customer-center a:first-of-type {
  font-weight: 700;
  font-size: 48px;
}
.payment-guarantee {
  font-weight: 400;
  font-size: 16px;
}
.payment-guarantee p:first-child {
  margin-bottom: 15px;
}
.payment-guarantee p {
  margin-bottom: 3px;
}

.copyright-SNS {
  background-color: var(--color-black);
}
.copyright-group {
  margin: 0px auto;
  padding: 16px 0px;
  position: relative;
  width: 1020px;
}
.copyright {
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  
  color: var(--color-gray-200);
}
.SNS {
  position: absolute;
  bottom: 16px;
  right: 0px;
}
.SNS a{
  margin: 0px 3px;
}
.SNS a:last-child {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background:linear-gradient(174.12deg, #285AEB 5.61%, #BC1888 22.32%, #CC2366 36.16%, #DC2743 51.91%, #E6683C 73.38%, #F09433 91.99%);
} 